footer {
    border-top: 0.5px solid #ffffff50;
}

footer ul {
    list-style-type: none;
}

footer ul > li {
    display: inline;
    padding-right: 1.25rem;
}

footer ul > li:last-of-type {
    padding-right: 0;
}

footer li a:not(:hover) {
    text-decoration: none;
}

footer .bi {
    font-size: 20px;
}

footer .socials .bi {
    padding-right: 0.75rem;
}

@media screen and (max-width: 767px) {
    footer .top-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .bottom-section {
        flex-direction: column-reverse;
    }

    footer .socials {
        margin-bottom: 1rem;
        text-align: center;
    }

    footer .copyright {
        text-align: center;
    }
}
